{erl_opts, [debug_info]}.
{deps, [
  {eredis, {git, "git@180.101.144.31:CT-IOT-DA/eredis.git", {branch, "master"}}},
  {hackney, {git, "git@180.101.144.31:CT-IOT-DA/hackney.git", {branch, "master"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [psk_redis]}
]}.
